Package: com.dgh0st.batterybar
Name: BatteryBar
Depends: mobilesubstrate, preferenceloader, org.thebigboss.libcolorpicker
Conflicts: com.skylerk99.powerbar, org.thebigboss.batterystatusbar
Version: 0.0.1
Architecture: iphoneos-arm
Description: Display a bar that represents the battery percentage in the status bar.
Maintainer: DGh0st <deeppwnage@yahoo.com>
Author: DGh0st <deeppwnage@yahoo.com>
Section: Tweaks
