<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>id</key>
			<string>LowPowerSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dgh0st.batterybar</string>
			<key>key</key>
			<string>isGradientLowPowerEnabled</string>
			<key>label</key>
			<string>Enable Low Power Mode Color</string>
			<key>PostNotification</key>
			<string>com.dgh0st.batterybar/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>id</key>
			<string>LowPowerColor</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColorLowPower</string>
				<key>fallback</key>
				<string>#FFD700</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Low Power Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>id</key>
			<string>ChargingSwitch</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dgh0st.batterybar</string>
			<key>key</key>
			<string>isGradientChargingEnabled</string>
			<key>label</key>
			<string>Enable Charging Color</string>
			<key>PostNotification</key>
			<string>com.dgh0st.batterybar/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>id</key>
			<string>ChargingColor</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColorCharging</string>
				<key>fallback</key>
				<string>#00FF00</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Charging Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Gradient</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor0</string>
				<key>fallback</key>
				<string>#FF0500</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 0%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor1</string>
				<key>fallback</key>
				<string>#FF1E00</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 5%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor2</string>
				<key>fallback</key>
				<string>#FF3700</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 10%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor3</string>
				<key>fallback</key>
				<string>#FF5000</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 15%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor4</string>
				<key>fallback</key>
				<string>#FF6900</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 20%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor5</string>
				<key>fallback</key>
				<string>#FF8200</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 25%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor6</string>
				<key>fallback</key>
				<string>#FF9B00</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 30%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor7</string>
				<key>fallback</key>
				<string>#FFB400</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 35%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor8</string>
				<key>fallback</key>
				<string>#FFCD00</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 40%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor9</string>
				<key>fallback</key>
				<string>#FFE600</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 45%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor10</string>
				<key>fallback</key>
				<string>#FFFF00</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 50%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor11</string>
				<key>fallback</key>
				<string>#E6FF00</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 55%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor12</string>
				<key>fallback</key>
				<string>#CDFF00</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 60%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor13</string>
				<key>fallback</key>
				<string>#B4FF00</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 65%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor14</string>
				<key>fallback</key>
				<string>#9BFF00</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 70%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor15</string>
				<key>fallback</key>
				<string>#82FF00</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 75%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor16</string>
				<key>fallback</key>
				<string>#69FF00</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 80%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor17</string>
				<key>fallback</key>
				<string>#50FF00</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 85%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor18</string>
				<key>fallback</key>
				<string>#37FF00</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 90%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor19</string>
				<key>fallback</key>
				<string>#1EFF00</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 95%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>PFSimpleLiteColorCell</string>
			<key>libcolorpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.dgh0st.batterybar.color</string>
				<key>key</key>
				<string>gradientColor20</string>
				<key>fallback</key>
				<string>#00FF00</string>
				<key>PostNotification</key>
				<string>com.dgh0st.batterybar/colorchanged</string>
				<key>alpha</key>
				<true/>
			</dict>
			<key>label</key>
			<string>Battery 100%</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>BatteryBar © 2017 DGh0st</string>
		</dict>
	</array>
	<key>title</key>
	<string>Gradient</string>
</dict>
</plist>