<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable/Disable the tweak (respring required for any changes)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dgh0st.batterybar</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>PostNotification</key>
			<string>com.dgh0st.batterybar/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Status Bar Text Color</string>
			<key>footerText</key>
			<string>Always White and Black will add a Black or White (respectively) background when needed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>id</key>
			<string>ColorStatusBar</string>
			<key>key</key>
			<string>statusBarForegroundColor</string>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Always White</string>
				<string>Always Black</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.dgh0st.batterybar</string>
			<key>PostNotification</key>
			<string>com.dgh0st.batterybar/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>id</key>
			<string>HomescreenBackground</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dgh0st.batterybar</string>
			<key>key</key>
			<string>isHomescreenBackgroundEnabled</string>
			<key>label</key>
			<string>Enable Homescreen Background</string>
			<key>PostNotification</key>
			<string>com.dgh0st.batterybar/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Status Bar Item</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>id</key>
			<string>HideBatteryIcon</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dgh0st.batterybar</string>
			<key>key</key>
			<string>isBatteryIconHidden</string>
			<key>label</key>
			<string>Hide Battery Icon</string>
			<key>PostNotification</key>
			<string>com.dgh0st.batterybar/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>id</key>
			<string>HideChargingIcon</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.dgh0st.batterybar</string>
			<key>key</key>
			<string>isChargingIconHidden</string>
			<key>label</key>
			<string>Hide Charging Icon</string>
			<key>PostNotification</key>
			<string>com.dgh0st.batterybar/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Bar Type</string>
			<key>footerText</key>
			<string>Display the battery bar at the bottom of status bar instead of the top</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>id</key>
			<string>BarType</string>
			<key>key</key>
			<string>batteryBarType</string>
			<key>validTitles</key>
			<array>
				<string>Skinny</string>
				<string>Thick</string>
				<string>Background</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.dgh0st.batterybar</string>
			<key>PostNotification</key>
			<string>com.dgh0st.batterybar/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>id</key>
			<string>BottomBar</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.dgh0st.batterybar</string>
			<key>key</key>
			<string>isBottomBarEnabled</string>
			<key>label</key>
			<string>Enable Bottom Bar</string>
			<key>PostNotification</key>
			<string>com.dgh0st.batterybar/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Bar Alignment</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>batteryBarAlignment</string>
			<key>validTitles</key>
			<array>
				<string>Left</string>
				<string>Center</string>
				<string>Right</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.dgh0st.batterybar</string>
			<key>PostNotification</key>
			<string>com.dgh0st.batterybar/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>id</key>
			<string>BarColor</string>
			<key>label</key>
			<string>Battery/Bar Color</string>
			<key>footerText</key>
			<string>Set the opacity of the batter bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>id</key>
			<string>BatteryColor</string>
			<key>key</key>
			<string>batteryColorStyle</string>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Solid</string>
				<string>Gradient</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.dgh0st.batterybar</string>
			<key>PostNotification</key>
			<string>com.dgh0st.batterybar/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>cellClass</key>
			<string>BBSliderCell</string>
			<key>id</key>
			<string>BarOpacity</string>
			<key>min</key>
			<real>0.1</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.dgh0st.batterybar</string>
			<key>key</key>
			<string>batteryBarOpacity</string>
			<key>PostNotification</key>
			<string>com.dgh0st.batterybar/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>CustomSolidBatteryColor</string>
			<key>label</key>
			<string>Custom Solid Color</string>
			<key>detail</key>
			<string>BBSolidColorListController</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>CustomGradientBatteryColor</string>
			<key>label</key>
			<string>Custom Gradient Color</string>
			<key>detail</key>
			<string>BBGradientListController</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>Label</key>
			<string>Charging Animations</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>key</key>
			<string>chargingAnimationStyle</string>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Pulse</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.dgh0st.batterybar</string>
			<key>PostNotification</key>
			<string>com.dgh0st.batterybar/settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
			<key>footerText</key>
			<string>Enjoy the tweak :)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>email</string>
			<key>label</key>
			<string>Email Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>donate</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>follow</string>
			<key>label</key>
			<string>Follow on twitter (@D_Gh0st)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>BatteryBar © 2018 DGh0st</string>
		</dict>
	</array>
	<key>title</key>
	<string>BatteryBar</string>
</dict>
</plist>
